html {
	font-family: 'Courier New', Courier, monospace;
}
body {
	background-color: var(--bg);
	color: var(--txt);
}
h1, strong {
	display: inline-block;
	text-align: center;
}
button {
	padding: 5px;
	color: var(--txt);
	background-color: var(--btn);
	margin: 10px;
	border-radius: 5px;
	clear: right;
}
button:hover {
	background-color: var(--btnh);
}
button:disabled {
	background-color: var(--btnd);
	color: var(--txtd);
}
canvas {
	border: 2px solid var(--border);
	margin: 50px;
	background-color: white;
}
p {
	margin: 15px;
}