#header {
	position: absolute;
	width: 100%;
	height: 12%;
	top: 0px;
	left: 0px;
	text-align: center;
	border-bottom: 2px solid var(--border);
}
#footer {
	position: absolute;
	width: 98%;
	height: 4%;
	bottom: 0px;
	left: 0px;
	text-align: center;
	border-top: 2px solid var(--border);
	padding: 1%;
}
#content {
	position: absolute;
	width: 94%;
	height: 78%;
	padding: 2%;
	top: 12%;
	bottom: 4%;
	float: left;
}
#games {
	width: 28%;
	float: left;
	border-right: 2px solid var(--border);
	height: 90%;
}
#game {
	width: 68%;
	float: left;
}